<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Rumah Budaya</title>
    </head>
    <body>
        <nav>
            <div class="layar-dalam">
                <div class="logo">
                    <a href=""><img src="./images/home/logo1.png" class="putih" /></a>
                    <a href=""><img src="./images/home/logo1.png" class="hitam" /></a>
                </div>
                <div class="menu">
                    <a class="tombol-menu" aria-expanded="false">
                        <span class="garis"></span>
                        <span class="garis"></span>
                        <span class="garis"></span>
                    </a>
                    <ul class="list-menu">
                        <li><a href="#home">Home</a></li>
                        <li><a href="#aboutus">Kategori</a></li>
                        <li><a href="#team">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="layar-penuh"></div>
    </body>
</html>